.section {
  margin: 1em 0;
  height: fit-content;
  display: flex;
  flex-direction: column;

  input {
    border: var(--border);
    border-radius: var(--borderRadius);
    background: none;
    font: var(--textFormField);
    padding: 5px 8px;
    z-index: 10;

    &::placeholder {
      color: var(--colorGrey);
    }

    &:focus {
      border: none;
      border: 1px solid var(--colorPrimary);
    }
  }
}