.new {
  position: fixed;

  z-index: 50;
  max-width: 10rem;
  max-height: 10rem;

  @media (max-aspect-ratio: 990/100) {
    bottom: 4%;
  }

  @media (max-aspect-ratio:90/100) {
    bottom: 4.5%;
  }

  @media (max-aspect-ratio: 85/100) {
    bottom: 4.75%;
  }

  @media (max-aspect-ratio: 8/10) {
    bottom: 2rem;
  }

  @media (max-aspect-ratio: 7/10) {
    bottom: 2.5rem;
  }

  @media (max-aspect-ratio: 6/10) {
    bottom: 2.5rem;
  }

  @media (max-aspect-ratio: 1/2) {
    bottom: 3rem;
  }

  @media (max-aspect-ratio: 4/10) {
    bottom: 4rem;
  }

  @media (max-aspect-ratio: 3/10) {
    bottom: 4.5rem;
  }

  @media (min-aspect-ratio: 991/1000) and (max-aspect-ratio: 1000/991) {
    bottom: 1rem;
  }

  @media (min-aspect-ratio: 100/90) {
    bottom: 1rem
  }

  @media (min-aspect-ratio: 100/85) {
    bottom: 1rem
  }
  @media (max-width: 399px) {
    left: 41vw;
    height: 18vw;
    width: 18vw;
  }

  @media (max-width: 650px) {
    left: 41.5vw;
    width: 17vw;
    height: 17vw;
  }

  @media (min-width: 651px) {
    left: 43.5vw;
    width: 13vw;
    height: 13vw;
  }

  border-radius: 50%;
  padding: 1rem;
  border: .5rem solid var(--colorWhite) !important;
  background-color: var(--colorSecondary) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--newButtonShadow) !important;
  transition: var(--boxTransition);
  animation: var(--aniBeatD2s);

  &:active {
    transform: scale(.9);
    box-shadow: 0 0px 17px rgba(68, 68, 68, .7);
  }

}

// .new {
//   position: absolute;
//   top: 85%;
//   z-index: 50;

//   @media (max-width: 399px) {
//     left: 41vw;
//     height: 18vw;
//     width: 18vw;
//   }

//   @media (max-width: 650px) {
//     left: 41.5vw;
//     width: 17vw;
//     height: 17vw;
//   }

//   @media (min-width: 651px) {
//     left: 43.5vw;
//     width: 13vw;
//     height: 13vw;
//   }

//   border-radius: 50%;
//   padding: 1.5%;
//   border: 1vw solid var(--colorWhite) !important;
//   background-color: var(--colorSecondary) !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   box-shadow: var(--newButtonShadow);
//   transition: var(--boxTransition);
//   animation: var(--aniBeatD2s);

//   &:active {
//     transform: scale(.9);
//     box-shadow: 0 0px 17px rgba(68, 68, 68, .7);
//   }
// }