.image {
  margin: 10px;
  box-shadow: var(--boxShadow);
  width: 90%;
  height: 200px;
}

.imageDef {
  margin: 10px;
  width: 90%;
  height: 200px;
}

.input {
  visibility:hidden;
  display: none;
}