.post {
  border: var(--border);
  margin-bottom: .5rem;
  width: 95%;
  margin: 0 auto;

  h4 {
    margin: 0 var(--distStandard);
    font: var(--textPageSubTitle);
  }
}

.text {
  transition: var(--boxTransitionSlow);
}

.textClosed {
  @extend .text;
  height: 15rem;
  overflow: hidden;
}


.voteButton {
  position: relative;
  margin: 0;
  bottom: 3.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.square {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 70%;
  display: flex;
  padding: 4rem 0;
  justify-content: center;
  background-color: var(--colorWhite);
}


.modalText {
  width: fit-content;
  font: var(--textPostCardTitle);
  color: var(--colorDark);
}

.buttonWrapper {
  margin: 0;
  // margin: 2rem auto 5rem auto;
}

.replyCard {
  margin-bottom: .5rem;
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;


  .replyMessage {
    font: var(--textParaStandard);
    margin: .5rem 1rem;
  }

  .replyCardTitle {
    font: var(--textPageSubTitle);
  }
}

.replyCardSecondary {
  @extend .replyCard;
  color: white;
  border: var(--borderSecondaryThin);
  background-color: var(--colorSecondary);
}