.container {
  width: 100%;
  padding-top: 5rem;
}

.post {
  border: var(--border) !important;
  margin-bottom: 0.5rem;
  width: 95%;
  margin: 0 auto;

  h4 {
    margin: 0 var(--distStandard);
    font: var(--textPageSubTitle);
  }
}

.text {
  transition: var(--boxTransitionSlow);
}

.textClosed {
  @extend .text;
  height: 15rem;
  overflow: hidden;
}

.voteButton {
  margin: {
    top: -3.3rem;
    left: auto;
    right: auto;
  }
  width: fit-content;
  display: flex;
  justify-content: center;
}

.square {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 70%;
  display: flex;
  padding: 4rem 0;
  justify-content: center;
  background-color: var(--colorWhite);
}

.modalText {
  width: fit-content;
  font: var(--textPostCardTitle);
  color: var(--colorDark);
}

.replyCard {
  margin-bottom: 0.5rem;
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadow);

  .replyMessage {
    font: var(--textParaStandard);
    margin: 0.5rem 1rem;
  }

  .replyTitleLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .replyTitleLineRTL {
    @extend .replyTitleLine;
    flex-direction: row-reverse;
  }

  .replyCardTitle {
    margin: 0 1rem;
    font: var(--textPageSubTitle);
  }
}

.cardSecondaryClosed {
  @extend .replyCard;
  color: white;
  border: var(--borderTransparetn);
  background-color: var(--colorSecondary);

  .replyMessage {
    height: 5rem;
    overflow: hidden;
  }
}

.cardSecondaryOpen {
  @extend .cardSecondaryClosed;
  height: fit-content;

  .replyMessage {
    height: auto;
    overflow: none;
  }
}

.cardWhiteClosed {
  @extend .replyCard;
  color: var(--colorDark);
  border: var(--borderTransparetn);
  background-color: var(--colorWhite);

  .replyMessage {
    height: 5rem;
    overflow: hidden;
  }
}

.cardWhiteOpen {
  @extend .cardWhiteClosed;
  height: fit-content;

  .replyMessage {
    height: auto;
    overflow: none;
  }
}

.cardAttentionClosed {
  @extend .cardSecondaryClosed;
  background-color: var(--colorAttention);
}

.cardAttentionOpen {
  @extend .cardAttentionClosed;
  height: fit-content;

  .replyMessage {
    height: auto;
    overflow: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.voted {
  position: relative;
  margin: 0 auto;
  bottom: 1.5rem;
}

.replyVoted {
  position: relative;
  margin: 0 auto;
  bottom: 2.5rem;
}

.deleteButton {
  width: 80%;
  margin: 1rem auto;
}

.replyEditButtons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.replyEditButtonsRTL {
  @extend .replyEditButtons;
  direction: rtl;
}

.thumbsContainer {
  position: relative;
  margin: 0;
  padding: 0;
  height: 4rem;
  bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  div {
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;

    margin: {
      top: -1.5rem;
      left: 2rem;
      right: 2rem;
    }
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border: var(--borderWhiteThick);
    box-shadow: var(--boxShadow);

    &:first-of-type {
      bottom: 1.3rem;
      background-color: var(--colorSecondary);
      svg {
        margin-top: 0.4rem;
        height: 1.8rem;
        transform: rotate(90deg);
      }
    }

    &:last-of-type {
      background-color: var(--colorAttention);
      svg {
        margin-top: 0.7rem;
        height: 1.8rem;
        transform: rotate(270deg);
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.thumbsContainerRTL {
  @extend .thumbsContainer;
  flex-direction: row-reverse;
}
