.post {
  border: var(--border);
  margin-bottom: .5rem;
  width: 95%;
  margin: 0 auto;

  h4 {
    margin: 0 var(--distStandard);
    font: var(--textPageSubTitle);
  }
}

.text {
  transition: var(--boxTransitionSlow);
}

.textClosed {
  @extend .text;
  height: 15rem;
  overflow: hidden;
}


.voteButton {
  position: relative;
  margin: 0;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.square {
  position: fixed;
  top: 30%;
  left: 15%;
  width: 70%;
  display: flex;
  padding: 4rem 0;
  justify-content: center;
  background-color: var(--colorWhite);
}


.modalText {
  width: fit-content;
  font: var(--textPostCardTitle);
  color: var(--colorDark);
}

.buttonWrapper {
  margin: 0;
  // margin: 2rem auto 5rem auto;
}

.replyCard {
  margin-bottom: .5rem;
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadow);

  .replyMessage {
    font: var(--textParaStandard);
    margin: .5rem 1rem;
  }

  .replyCardTitle {
    font: var(--textPageSubTitle);
  }
}


.cardSecondaryClosed {
  @extend .replyCard;
  color: white;
  border: var(--borderTransparetn);
  background-color: var(--colorSecondary);

  .replyMessage {
    height: 5rem;
    overflow: hidden;
  }
}

.cardSecondaryOpen {
  @extend .cardSecondaryClosed;
  height: fit-content;

  .replyMessage {
    height: auto;
    overflow: none;
  }
}

.cardAttentionClosed {
  @extend .cardSecondaryClosed;
  background-color: var(--colorAttention);
}

.cardAttentionOpen {
  @extend .cardAttentionClosed;
  height: fit-content;

  .replyMessage {
    height: auto;
    overflow: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  // height: 100%;
  overflow: scroll;
}

.setOfThumbs {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 2.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  svg {
    height: 3rem;
    margin: 0 2rem;
    position: relative;

    &:first-of-type {
      transform: rotate(180deg);
    }

    &:last-of-type {
      bottom: 1.3rem;
    }
  }
}

.replyVotes {
  height: 3rem;
  width: fit-content;
  // border: 1px solid red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .2rem .5rem;
  display: flex;
  margin-left: -1px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  P {
    text-align: center;
    font: var(--textParaStandard);
    margin: 0 1rem;
    // min-width: 2rem;

    &:last-of-type {
      color: var(--colorAttention);
    }

    &:first-of-type {
      color: var(--colorSecondary); // padding: 0;
    }

  }

  svg {
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;

    &:last-of-type {
      transform: rotate(180deg)
    }
  }

}

.voted {
  position: relative;
  margin: 0 auto;
  bottom: 1.5rem;
}