.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 10px;
  // width: 100%;
  // height: 10%;
  border: var(--border) !important;
  border-radius: var(--borderRadius);
}

.image-template {
  margin-top: 10%;
  width: 80%;
  height: 20rem;
}

.image {
  @extend .image-template;
  box-shadow: var(--boxShadow);
  background-size: cover;
  object-fit: cover;
}

.imageDef {
  @extend .image-template;
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  visibility: hidden;
  display: none;
}
