.step {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: var(--borderSecondaryThin) !important;
  color: var(--colorSecondary);
  font: var(--textIconStep);
}

.filled {
  @extend .step;
  background-color: var(--colorSecondary);
  color: var(--colorWhite);
}