/// Form template with elements
/// @group Form
.form-template {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/// Form alignment for left-to-right languages
/// @group Form
.left {
  @extend .form-template;
  text-align: left;
}

/// Form alignment for right-to-left languages
/// @group Form
.right {
  @extend .form-template;
  text-align: right;
  direction:rtl;
}