.category {
  border-radius: var(--borderRadius);
  border: var(--borderDark);
  width: fit-content;
  padding: 0 .5rem;
  margin: .3rem 0;
  font: var(--textPostCardCategory);
  text-transform: uppercase;
}