.container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  // height: 50%;
  background-color: white;
}

.text {
  width: fit-content;
  font: var(--textPostCardTitle);
  color: var(--colorDark);
  padding: 2rem 1rem;
}