.numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.numbersRTL {
  @extend .numbers;
  direction: rtl;

}

.date {
  font: var(--textVotersText);
}