.container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  span {
    height: 3rem;
    margin: 0 2rem;
    position: relative;

    &:first-of-type {
      bottom: 1.3rem;
    }

    &:last-of-type {
      transform: rotate(180deg); // bottom: 1.3rem;
    }

    svg {
      height: 3rem;
    }
  }
}