.text {
  font: var(--textNormal15);

}

.close {
  display: flex;
  margin: 0 auto;
  width: 98%;
  justify-content: flex-end;
  align-content: center;
  padding: .6rem 0;
  transition: var(--boxTransitionSlow);
  user-select: none;

  button {
    background: none;
  }

  .more {
    @extend .text;
  }

  .less {
    display: none;
  }

  svg {
    margin: 0 .6rem;
    height: 1.1rem;
    // width: 1.1rem;
  }

}


.open {
  @extend .close;

  .more {
    display: none;
  }

  .less {
    @extend .text;
    display: inline;
  }

  svg {
    transform: rotate(180deg)
  }
}

.closeprimary {
  @extend .close;

  span {
    color: var(--colorPrimary) !important;
  }
}

.closesecondary {
  @extend .close;

  span {
    color: var(--colorSecondary);
  }
}

.closewhite {
  @extend .close;

  span {
    color: var(--colorWhite);
  }
}




.openprimary {
  @extend .open;

  span {
    color: var(--colorPrimary) !important;
  }
}

.opensecondary {
  @extend .open;

  span {
    color: var(--colorSecondary);
  }

}

.openwhite {
  @extend .open;

  span {
    color: var(--colorWhite);
  }
}

.closeprimaryRTL {
  @extend .closeprimary;
  direction: rtl;
}

.openprimaryRTL {
  @extend .openprimary;
  direction: rtl;
}

.closesecondaryRTL {
  @extend .closesecondary;
  direction: rtl;
}

.opensecondaryRTL {
  @extend .opensecondary;
  direction: rtl;
}

.closewhiteRTL {
  @extend .closewhite;
  direction: rtl;
}

.openwhiteRTL {
  @extend .openwhite;
  direction: rtl;
}