.voted {
  width: fit-content;
  border-radius: var(--borderRadiusLarge);
  padding: .3rem 1rem;
  border: var(--borderPrimary);
  background-color: var(--colorWhite);

  P {
    margin: 0;
    color: var(--colorPrimary);
    font: var(--textButtonVote)
  }
}

.votedRTL {
  @extend .voted;
  direction: rtl
}