
/// Defining global variables with animation settings
/// @group Animation
:root {
  /// Box transition
  --boxTransition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --boxTransitionSlow: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);

  /// Animations
  --aniAppear: appear 0.3s ease-out 0.3s 1 forwards;
  --aniVerticalFlip: vertical 7.5s linear infinite 0s;
  --aniBeat: beat .5s linear .3s 2;
  --aniBeatD2s: beatWhite .5s linear 2s 2;
  --aniHelpIn: helpIn 0.7s ease-out 0s 1 forwards;
  --aniHelpContent: appear 0.3s ease-out 0.7s 1 forwards;

}