/// Defining global variables for other UI elements
/// @group UI
:root {
  /// Border
  --border: .1rem solid var(--colorGrey);
  --borderWhite: .1rem solid var(--colorWhite);
  --borderPrimary: .2rem solid var(--colorPrimary);
  --borderPrimaryThin: .1rem solid var(--colorPrimary);
  --borderSecondary: .2rem solid var(--colorSecondary);
  --borderSecondaryThin: .1rem solid var(--colorSecondary);
  --borderAttentionThin: .1rem solid var(--colorAttention);
  --borderTransparetn: .1rem solid var(--colorTransparent);
  --borderDisabled: .2rem solid var(--colorGrey);
  --borderDark: .1rem solid var(--colorDark);
  /// Border radius
  --borderRadius: .4rem;
  --borderRadiusText: .4rem .4rem 0 .4rem;
  --borderRadiusLarge: 1rem;
  --borderRadiusRound: 50%;
  /// Distances
  --distStandard: 1rem;
  --distDouble: 2rem;
}