/// Button template
/// @group Layout
.appWrapper {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100vw;
  // height: 100vh;
  // min-height: fit-content;
  bottom: 0;
  right: 0;
  background-color: var(--colorPrimary);
}