@import "./_colors";
@import "./_animations";
@import "./_typography";
@import "./_ui";
@import "./_form";

.primaryButton {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background-color: var(--colorPrimary);
  box-shadow: 0 5px 10px 3px rgba(71, 143, 223, 0.3);
  color: var(--colorWhite);
  letter-spacing: 0.1rem;
  border: 1px solid var(--colorPrimary);
  font: normal 500 1.8rem var(--fontBasic);
}

.primaryButtonDisabled {
  @extend .primaryButton;
  border: var(--borderDisabled);
  background: none;
  color: var(--colorGrey);
  box-shadow: 0 5px 10px 3px rgba(211, 211, 211, 0.3);
}

.checkmark {position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;}
