.paragraph {
  padding: 10px;
}

.paragraphRTL {
  @extend .paragraph;
  direction: rtl;
}


.border {
  @extend .paragraph;
  border: var(--border);
  border-radius: var(--borderRadius);
}

.borderRTL {
  @extend .paragraphRTL;
  border: var(--border);
  border-radius: var(--borderRadius);
}

.borderThinRTL {
  @extend .borderRTL;
  padding: 0 10px;
}

.borderRectangleRTL {
  @extend .borderRTL;
  border-radius: none;
}

.borderThin {
  @extend .border;
  padding: 0 10px;
}

.borderRectangle {
  @extend .border;
  border-radius: none;
}