.line-template {
  display: flex;
  align-items: center;
  padding: var(--distStandard);

  span {
    font: var(--textFormFieldName);
    margin: 0 var(--distStandard);
  }
}

.line {
  @extend .line-template;
  flex-direction: row;
}

.linethin {
  @extend .line;
  flex-direction: row;
  padding: 0 var(--distStandard);
}

.lineRTL {
  @extend .line-template;
  flex-direction: row-reverse;

  * {
    direction: rtl
  }
}

.lineRTLthin {
  @extend .linethin;
  flex-direction: row-reverse;

  * {
    direction: rtl
  }
}

.flat {
  display: flex;
  align-items: center;
}

.flatRTL {
  @extend .flat;
  direction:rtl;
}