.paragraph {
  font: var(--textParaStandard);
  padding: 10px;
}

.paraThin {
  @extend .paragraph;
  padding: 0 10px 3px 10px;
}

.border {
  @extend .paragraph;
  border: var(--border);
  border-radius: var(--borderRadius);
}

.borderThin {
  @extend .border;
  padding: 0 10px;
}

.borderRectangle {
  @extend .border;
  border-radius:none;
}