.block {
  padding: 0;
  margin: 0;
}

// .blockRTL {
//   @extend .block;
//   direction: rtl;
// }

.border {
  @extend .block;
  border: var(--border);
  border-radius: var(--borderRadius);
}

.borderRectangle {
  @extend .border;
  border-radius: none;
}

// .borderRTL {
//   @extend .paragraphRTL;
//   border: var(--border);
//   border-radius: var(--borderRadius);
// }

// .borderRectangleRTL {
//   @extend .borderRTL;
//   border-radius: none;
// }



// .borderThin {
//   @extend .border;
//   padding: 0 1rem;
// }