.card-template {
  margin: 1rem auto;
  box-shadow: var(--boxShadow);
  border: 1px solid var(--colorGrey);

  @media (max-width: 399px) {}

  @media (max-width: 650px) {}

  @media (min-width: 651px) {}

  .photoSection {
    display: flex;
    // justify-content: center;
    align-content: center;
    height: 15rem;

  }
}

.card {
  @extend .card-template;
}

.cardRTL {
  @extend .card-template;
  text-align: right;
}