.photo {
  position: relative;
  width: 100%;
  height: 15rem;
  background-color: var(--colorWhite);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}

.photoRTL {
  @extend .photo;
  direction: rtl;
}