.line {
  padding: 5px;
}

.lineRTL {
  @extend .line;
  direction: rtl;
}

.title {
  font: var(--textPostCardTitle);
  width: 90%;
  text-transform: uppercase;
}

.date {
  color: var(--colorDarkGrey);
  font: var(--textFormMessage);
}

.text {
  font: var(--textFormMessage);
  overflow: hidden;
}

.icon-template {
  height: 40px;
  width: 40px;
  position: relative;
  top: -2.5rem;
  margin-bottom: -4rem;
}

.icon {
  @extend .icon-template;
  left: 82vw;
}

.iconRTL {
  @extend .icon-template;
  left: 3vw;
}