.line {
  padding: 5px;
}

.lineRTL {
  @extend .line;
  direction: rtl;
}

.title {
  font: var(--textPostCardTitle);
  padding: 7px 0 3px 0;
  padding-top: 7px;
}

.date {
  color: var(--colorDarkGrey);
  font: var(--textFormMessage);
}

.text {
  font: var(--textFormMessage);
}

.icon-template {
  height: 40px;
  width: 40px;
  position: relative;
  top: -25px;
  margin-bottom: -40px;
}

.icon {
  @extend .icon-template;
  left: 80vw;
}

.iconRTL {
  @extend .icon-template;

  left: 5vw;
}