.age {
  display: flex;
  font: var(--textVotersNumber);
  justify-content: center;
  width: fit-content;

  .text {
    margin: 0 0.4rem;
    color: var(--colorDarkGrey);
    font: var(--textVotersText);
    padding: 0;
  }
}

.ageR {
  @extend .age;
  direction: rtl;

  .text {
    text-align: left;
  }
}