.tag {
  position: relative;
  top: 1rem;
  padding: .5rem 1rem;
  background-color: var(--colorSecondaryTrans);
  width: fit-content;
  border-radius: 0 .4rem .4rem 0;
  position: relative;
  margin: 0;

  p {
    margin: 0;
    color: var(--colorWhite);
    font: var(--textFormFieldName);
    text-transform: uppercase;
  }
}

.tagRTL {
  @extend .tag;
  direction: rtl;
}