:root {
  --colorPrimary: #478FDF;
  --colorPrimaryTrans: rgba(71, 143, 223, 0.3);
  --colorPrimaryLight: #aed2f9;
  --colorSecondary: #03AD24;
  --colorDark: #444;
  --colorDarkTrans: rgba(68, 68, 68, 0.3);
  --colorDarkGrey: #777;
  --colorGrey: #d3d3d3;
  --colorContourBlue: #376ca8;
  --colorWhite: #fff;
  --colorWhiteThird: rgba(255, 255, 255, .3);
  --boxShadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --pageShadow: 0 2px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --pageShadowOpposite: 0 -5px 3px rgba(0, 0, 0, 0.12),
    0 -3px 2px rgba(0, 0, 0, 0.24);
  --boxShadowHover: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --svgShadowHover: 0 12px 5px rgba(0, 0, 0, 0.22);
}