
@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 400;
  src: local("M PLUS Rounded 1c"), local("MPLUSRounded1c-Regular"),
    url("/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.woff")
      format("woff");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 300;
  src: local("M PLUS Rounded 1c Light"), local("MPLUSRounded1c-Light"),
    url("/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.woff")
      format("woff");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 500;
  src: local("M PLUS Rounded 1c Medium"), local("MPLUSRounded1c-Medium"),
    url("/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.woff")
      format("woff");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 800;
  src: local("M PLUS Rounded 1c ExtraBold"), local("MPLUSRounded1c-ExtraBold"),
    url("/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.woff")
      format("woff");
}

/* tajawal-300 - latin */
@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 300;
  src: local("Tajawal Light"), local("Tajawal-Light"),
    url("/fonts/tajawal-v2-arabic-300.woff") format("woff");
}

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: local("Tajawal"), local("Tajawal-Regular"),
    url("/fonts/tajawal-v2-arabic-regular.woff") format("woff");
}

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 500;
  src: local("Tajawal Medium"), local("Tajawal-Medium"),
    url("/fonts/tajawal-v2-arabic-500.woff") format("woff");
}

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 800;
  src: local("Tajawal ExtraBold"), local("Tajawal-ExtraBold"),
    url("/fonts/tajawal-v2-arabic-800.woff") format("woff");
}
