/// Form template with elements
/// @group Form
.form-template {
  width: 80%;
  height: fit-content;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .section {
    margin: 1em 0;
    height: fit-content;
    display: flex;
    flex-direction: column;

    label {
      font: var(--textFormFieldName);
      margin: 5px 0;
      letter-spacing: 1px;
    }

    input,
    select {
      border: 1px solid var(--colorGrey);
      border-radius: 4px;
      background: none;
      font: var(--textFormField);
      // font: var(--textFormField);
      padding: 5px 8px;
      z-index: 10;
      // user-select: none;

      &:focus {
        border: none;
        border: 1px solid var(--colorPrimary);
      }
    }

    option {
      padding-right: 2%;
    }

    span {
      height: .6rem;
      width: 5%;
      margin-top: -1.7rem;
      margin-bottom: 0.7rem;

      // margin-left: 92%;
    }

    .prompt {
      z-index: 1;
      margin: 0 auto;
      margin-top: -1.7rem;
      width: 95%;
      min-height: 1.5em;
      font: var(--textFormFieldPrompt);
      color: var(--colorGrey);
    }
  }

  .buttonsWrapper {
    display: flex;
    align-items: baseline;
  }
}

/// Form alignment for left-to-right languages
/// @group Form
.left {
  @extend .form-template;
  text-align: left;

  span {
    margin-left: 92%;
  }

  .buttonsWrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/// Form alignment for right-to-left languages
/// @group Form
.right {
  @extend .form-template;
  text-align: right;

  label {
    font-size: .9rem !important;
  }

  input,
  select {
    direction: rtl;
    //  text-align: right;
  }

  option {
    padding-right: 2%;
  }

  span {
    // height: .6rem;
    // width: 5%;
    // margin-top: -1.7rem;
    margin-left: 2%;
  }

  .buttonsWrapper {
    flex-direction: row-reverse;
  }
}

/// Button area in the form
/// @group Form
.buttonArea {
  border: none;
  background: none;
  width: fit-content;
  margin: 10px auto;
  padding: 0;
}

/// Button template
/// @group Form
.button-template {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  width: fit-content;
  font: var(--textButton);

  &:active {
    transform: scale(0.98);
  }
}

/// Primary button - SUBMIT button
/// @group Form
.buttonPrimary {
  @extend .button-template;
  color: var(--colorWhite);
  background-color: var(--colorPrimary) !important;
}

/// Joining features of the area and button
/// @group Form
.add-button {
  @extend .buttonArea;
  @extend .button-template;
  margin-top: 1rem;
}

/// Secondary button
/// @group Form
.buttonSecondary {
  @extend .add-button;
  color: white;
  background-color: var(--colorSecondary) !important;
}

/// Message style
/// @group Form
.message {
  margin: 15px auto;
  height: fit-content;
  min-height: 1.3em;
  width: 100%;
  text-align: center;
  font: var(--textFormMessage);
  color: var(--colorDarkGrey);
}

/// Loading indicator wrapper
/// @group Form
.loading {
  min-height: 1.3em;

  margin: {
    top: -1.8em;
    left: auto;
    right: auto;
    bottom: 1em;
  }
}