@import './colors';
@import './animations';

/// Page wrapper template
/// @group Layout
.main-template {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: $pageShadow;
}

/// Page, starting from top
/// @group Layout
.mainTop {
  @extend .main-template;
  top: 0;
  border-radius: 0 0 40px 40px;
  box-shadow: $pageShadow;
  animation: $aniSlideToTop;
}

/// Page, starting from bottom
/// @group Layout
.mainOpposite {
  @extend .main-template;
  bottom: 0;
  height:90%;
  border-radius: 40px 40px 0 0;
  animation: $aniSlideFromTop;
}

/// Message to display in the center
/// @group Layout
.centralMessage {}