/// Base font
$fontBasic: 'M PLUS Rounded 1c',
'Tajawal',
sans-serif;
/// Button name
$textButton: normal 700 1.2rem $fontBasic;
$textButtonEnter: normal 700 2rem $fontBasic;
/// Fields
$textFormField: normal 400 1rem $fontBasic;
$textFormFieldPrompt: normal 300 0.8rem $fontBasic;
$textFormFieldName: normal 500 0.8rem $fontBasic;
$textFormFieldNameR: normal 500 0.9rem $fontBasic;
$textFormMessage: normal 300 0.9rem $fontBasic;
/// Messages
$textCentralMessage: normal 400 1.3rem $fontBasic;
/// Card
$textButtonVote: normal 400 .8rem $fontBasic;

$textVotersNumber: normal 400 .8rem $fontBasic;
$textVotersText: normal 300 .8rem $fontBasic;

$textPostCardTitle: normal 700 1rem $fontBasic;
$textPostCardCategory: normal 400 .7rem $fontBasic;