// fonts
$baseFont: 'M PLUS Rounded 1c', sans-serif;
$statusFont: "Open Sans";
// text
$homeCityFont:  normal 700 4rem $baseFont;
// $textMessage: italic 400 1rem $baseFont;
// $textSourceEditMobile: normal 300 0.8rem $statusFont;
// $textSourceEditDesktop: normal 300 1rem $statusFont;