@import './colors';
@import './_typography';
@import './_animations.scss';

.button {
  height:60%;
  width:10vw;
  margin: 0 1vw;
  transition: $boxTransition;

  &:active{
  transform:scale(.95);
  }
}