/// Wrapper template
/// @group Buttons
.wrapper-template {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/// Vertical wrapper
/// @group Buttons
.wrapVer {
  @extend .wrapper-template;
  flex-direction: column;
}

/// Horizontal wrapper
/// @group Buttons
.wrapHor {
  @extend .wrapper-template;
  flex-direction: row;
}

/// Horizontal wrapper right-to-left
/// @group Buttons
.wrapHorRTL {
  @extend .wrapHor;
  flex-direction: row-reverse;
}