.card-template {
  width: 95vw;
  height: fit-content;
  margin: 1vh auto;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
}

.card {
  @extend .card-template;
}

.cardRTL {
  @extend .card-template;
  text-align: right;
}