@import './typography';
@import './colors';

.category {
  border-radius: 3px;
  border: 1px solid $colorDark;
  width: fit-content;
  padding: 2px 5px;
  margin: 0.3rem 0 !important;
  font: $textPostCardCategory;
}