/* m-plus-rounded-1c-regular - latin-ext_latin_hebrew */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.eot');
  /* IE9 Compat Modes */
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'),
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-regular.svg#MPLUSRounded1c') format('svg');
  /* Legacy iOS */
}

/* m-plus-rounded-1c-300 - latin-ext_latin_hebrew */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 300;
  src: url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.eot');
  /* IE9 Compat Modes */
  src: local('M PLUS Rounded 1c Light'), local('MPLUSRounded1c-Light'),
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-300.svg#MPLUSRounded1c') format('svg');
  /* Legacy iOS */
}

/* m-plus-rounded-1c-500 - latin-ext_latin_hebrew */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 500;
  src: url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.eot');
  /* IE9 Compat Modes */
  src: local('M PLUS Rounded 1c Medium'), local('MPLUSRounded1c-Medium'),
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-500.svg#MPLUSRounded1c') format('svg');
  /* Legacy iOS */
}

/* m-plus-rounded-1c-800 - latin-ext_latin_hebrew */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 800;
  src: url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.eot');
  /* IE9 Compat Modes */
  src: local('M PLUS Rounded 1c ExtraBold'), local('MPLUSRounded1c-ExtraBold'),
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/m-plus-rounded-1c-v9-latin-ext_latin_hebrew-800.svg#MPLUSRounded1c') format('svg');
  /* Legacy iOS */
}

/* tajawal-300 - latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 300;
  src: url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Tajawal Light'), local('Tajawal-Light'),
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-300.svg#Tajawal') format('svg');
  /* Legacy iOS */
}

/* tajawal-regular - latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Tajawal'), local('Tajawal-Regular'),
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-regular.svg#Tajawal') format('svg');
  /* Legacy iOS */
}

/* tajawal-500 - latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  src: url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Tajawal Medium'), local('Tajawal-Medium'),
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-500.svg#Tajawal') format('svg');
  /* Legacy iOS */
}

/* tajawal-800 - latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 800;
  src: url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'),
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/tajawal-v2-latin-800.svg#Tajawal') format('svg');
  /* Legacy iOS */
}