:root {
  font-family: 'M PLUS Rounded 1c', 'Tajawal', sans-serif;
  color: #444;

  p {
    margin: 0;
  }

h1,h2,h3,h4,h5, h6 {
  margin: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
  textarea,
  button,
  select,
  option,
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background:none;


    &:active {
      text-decoration: none;
      outline: none;
    }

    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  button {
    // align-items: none;
    // text-align: none;
    // cursor: default;
    // color: none;
  }
}