@import "./fonts";

// settings
@-ms-viewport {
  width: device-width;
}

// global style
:root {
  font-family: "M PLUS Rounded 1c", "Tajawal", sans-serif;
  font-size: 62.5%;
  color: #444;

  @media (max-width: 399px) {
    font-size: 60%;
  }

  @media (max-width: 650px) {
  }

  @media (min-width: 651px) {
    font-size: 50%;
  }

  * {
    outline: none;
    border: none;
    appearance: none;

    &:active {
      text-decoration: none;
      outline: none;
    }

    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}
html {
  scroll-behavior: smooth;
}
