.select {
  border: 1px solid var(--colorGrey) !important;
  border-radius: 4px;
  background: none;
  font: var(--textFormField);
  padding: 5px 8px;
  z-index: 10;
  user-select: none;

  &:focus {
    border: none;
    border: 1px solid var(--colorPrimary);
  }
}