@import './animations';



/// Message, shown on the form
/// @group Login
.message {
  width: 100%;
  height: auto;
  font-size: 1rem;
  transition: $boxTransition;
}

/// Message, hidden from view
/// @group Login
.messageHidden {
  @extend .message;
}