@import './colors';
@import './_typography';
@import './_animations.scss';

/// Button template
/// @group Layout
.nav-template {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;

}

.footer {
  @extend .nav-template;
  bottom: 0;
  height: 10%;
}

.header {
  @extend .nav-template;
  top: 0;
  height: 10%;
}


/// Button template
/// @group UI-elements
.button-template {
  // disable default
  background: none;
  border: none;
  outline: none;
  padding: 0;
  // set new properties
  height: 45px;
  border-radius: 6px;
  transition: $boxTransition;
  // box-shadow: $boxShadow;

  &:active {
    transform: scale(0.98);
  }

}

/// Primary button
/// @group UI-elements
.navButton {
  @extend .button-template;
  width: 100px;
  background-color: $colorPrimary;
}

/// Primary button
/// @group UI-elements
.welcomeButton {
  @extend .button-template;
  width: 100%;
  height: 100%;
  font: $textButtonEnter;
  color: white;
  letter-spacing: 1vh;
  text-align: center;
  vertical-align: middle;
  animation: $aniAppear;
  opacity: 0;
}

.enter {
  width: 100%;
  padding: 0.75rem 0;

  span {
    animation: $aniVerticalFlip;
    color: white;
    font: $textButtonEnter;
    width: 100%;

    letter-spacing: 1vh;
    text-align: center;
    vertical-align: middle;

    opacity: 0;
    overflow: hidden;
    position: absolute;

    &:nth-child(2) {
      animation-delay: 2.5s;
    }

    &:nth-child(3) {
      animation-delay: 5s;
    }
  }
}