/// Page wrapper template
/// @group Layout
.main-template {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--colorWhite);
  box-shadow: var(--pageShadow);
  overflow: scroll;
}

/// Regular page, starting from top
/// @group Layout
.page {
  @extend .main-template;
  top: 0;
  height: 90vh;
  box-sizing: border-box;
  border-bottom: 4vh solid white;
  border-radius: 0 0 4vh 4vh;
  box-shadow: var(--pageShadow);
  animation: var(--aniSlideToTop);
}

/// Page, starting from bottom
/// @group Layout
.pageOpposite {
  @extend .main-template;
  position: initial;
  border-radius: 4vh 4vh 0 0;
  animation: var(--aniSlideFromTop);
}

/// Page, starting from top
/// @group Layout
.welcome {
  @extend .main-template;
  top: 0;
  border-radius: 0 0 4vh 4vh;
  box-shadow: var(--pageShadow);
  animation: var(--aniSlideToTop);
}