@import './layout.module';
@import './colors';
@import './animations';

/// Regular page, starting from top
/// @group Layout
.page {
  @extend .main-template;
  top: 0;
  height: 90vh;
  border-radius: 0 0 4vh 4vh;
  box-shadow: $pageShadow;
}

/// Page, starting from bottom
/// @group Layout
.pageOpposite {
  @extend .main-template;
  position: initial;
  border-radius: 4vh 4vh 0 0;
  animation: $aniSlideFromTop;
}

/// Page, starting from top
/// @group Layout
.welcome {
  @extend .main-template;
  top: 0;
  border-radius: 0 0 4vh 4vh;
  box-shadow: $pageShadow;
  animation: $aniSlideToTop;
}