.line {
  padding: 5px;
}

.lineRTL {
  @extend .line;
  direction: rtl;
}

.title {
  font: var(--textPostCardTitle);
  padding: 7px 0 3px 0;
  padding-top: 7px;
}

.date {
  color: var(--colorDarkGrey);
  font: var(--textFormMessage);
}

.text {
  font: var(--textFormMessage);
}