@import './typography';
@import './colors';

.card {
  width: 95%;
  height: 35vh;
  margin: 1vh auto;
  box-shadow: $boxShadow;

  .information {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    .category {
      border-radius: 3px;
      border: 1px solid $colorDark;
      width: fit-content;
      padding: 2px 5px;
      font: $textPostCardCategory;
    }

    .title {
      margin: .3rem 0;
      font: $textPostCardTitle;
    }

    .thirdLine {

      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        // width: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ageText {
          margin: 0 .2rem;
          color: $colorDarkGrey;
          font: $textVotersText;
        }

        p {
          display: flex;
          font: $textVotersNumber;
        }

        .voters {
          margin: 0 2rem;
        }
      }

      .voteButton {
        margin-top: -1.4rem;
      }
    }
  }
}

.cardRight {
  @extend .card;

  .information {
    align-items: flex-end;
    text-align: right;
  }

  .thirdLine {
    flex-direction: row-reverse;

    div {
      flex-direction: row-reverse;

      .ageText {
        text-align: left;

      }

      p {
        flex-direction: row-reverse;
      }
    }
  }
}

.photo {
  width: 100%;
  height: 50%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}