@import './typography';
@import './colors';

// .card {
//   width: 95vw;
//   height: fit-content;
//   // height: 35vh;
//   margin: 1vh auto;
//   box-shadow: $boxShadow;

.information {
  padding: .3rem 1rem 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .data {
    width: 100%;
    max-height: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 70%;
    }



    .voters {
      margin: 0 1rem;
      padding: 0;

    }

    .button {
      position: relative;
      bottom: 1.4rem;
    }
  }
}

.informationRTL {
  @extend .information;
  align-items: flex-end;
  text-align: right;
}

.dataRTL {
  @extend .data;
  flex-direction: row-reverse;

  .lineRTL {
    @extend .line;
    flex-direction: row-reverse;
  }
}

// }