@import './typography';
@import './colors';

.card {
  width: 90%;
  height: 40vh;
  margin: 1vh auto;
  box-shadow: $boxShadow;
}

.thirdLine {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-between;
  align-items: center;

  .ageText {
    margin: 0 .2rem;
    color: $colorDarkGrey;
    font: $textVotersText;
  }

  p {
    font: $textVotersNumber;
  }
}

.thirdLineRight {
  flex-direction: row-reverse;
}

.title {
  margin: .3rem 0;
  width: 90%;
  font: $textPostCardTitle;
}

.titleRight {
  @extend .title;
  text-align:right;
}

.category {
  border-radius: 3px;
  border: 1px solid $colorDark;
  width: fit-content;
  padding: 2px 5px;
  margin: .3rem 0;
  font: $textPostCardCategory;
}

.information {
  padding: .5rem 1rem;
  width: 100%;
  height: 45%;
}

.informationRight {
  @extend .information;
  // direction:rtl;
}

.photo {
  width: 100%;
  height: 55%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
}

